body {
  font-family: "freight-display-pro", sans-serif;
  font-size: 2.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "quatro-slab", sans-serif;
  line-height: 1.5;
  color: #5B5B5B;
}

h4 > a {
  color: #00aeef;
}

.navbar-brand, .navbar-text, .dropdown-menu > li > a {
  font-family: "proxima-nova", sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
}

.bs-header > p, .bs-sidebar > ul > li > a, .bs-footer {
  font-family: "proxima-nova", sans-serif;
  color: #000000;
}

.navbar-text {
  margin-top: inherit;
  margin-bottom: inherit;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.btn-outline {
  color: #00aeef;
  background-color: #fff;
  border-color: #e5e5e5;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: #fff;
  background-color: #00aeef;
  border-color: #00aeef;
}

.bs-docs-home,
.bs-header {
  color: #fff;
  background-color: #00aeef;
  background-image: none;
}

@media screen and (min-width: 992px) {
  .bs-header h1,
  .bs-header p {
    margin-right: 0px;
  }
}

.bs-header p {
  font-family: "proxima-nova", sans-serif;
  font-size: 32px;
}
/* line 548 */
.page-header {
  margin: 20px 0 20px;
}

.navbar-inverse .navbar-text {
  color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #00aeef;
}

/* line 3267 */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #00aeef;
}

/* line 3274 */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #00aeef;
  outline: 0;
}

@media (max-width: 767px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
  .hide-for-mobile {
    display: none;
  }
}

/* line 4565 */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #8de0ff;
  border-bottom-color: #8de0ff;
}
/* line 4570 */
.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #00aeef;
    background-color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #00aeef;
    background-color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}

/* ******************* */

/* assets/css/docs.css */

/* line 81 */
.bs-docs-nav {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #00aeef;
  border-color: #0083b4;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
/* line 87 */
.bs-docs-nav .navbar-collapse {
  border-color: #00aeef;
}
/* line 90 */
.bs-docs-nav .navbar-brand {
  color: #fff;
}
/* line 93 */
.bs-docs-nav .navbar-nav > li > a {
  color: #fff;
}
/* line 96 */
.bs-docs-nav .navbar-nav > li > a:hover {
  color: #fff;
}
/* line 99 */
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #00aeef;
}
/* line 104 */
.bs-docs-nav .navbar-toggle {
  border-color: #563d7c;
}
/* line 107 */
.bs-docs-nav .navbar-toggle:hover {
  background-color: #00aeef;
  border-color: #00aeef;
}

/* line 412 */
.bs-sidenav {
  background-color: #fff;
  text-shadow: none;
}

.bs-sidebar ul li {
  cursor:pointer;
  font-family: "proxima-nova", sans-serif;
}
.bs-sidebar ul li:hover {
  color: #00aeef;
}

.bs-sidebar .nav > li {
  color: #000000;
  font-family: "proxima-nova", sans-serif;
}

/* line 429 */
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #00aeef;
  border-right: none;
}

/* line 435 */
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #00aeef;
  background-color: transparent;
  border-right: none;
}

.bs-docs-section {
  margin-top: 10px;
  padding-top: 10px;
}

.bs-docs-section p {
  margin-top: 10px;
  padding-top: 10px;
}

.bs-docs-section > h2 {
  font-family: "quatro-slab", sans-serif;
}

#email_signup .form-control {
  font-size: inherit;
  height: 42px;
}

#email_signup .btn {
  font-size: inherit;
}

/* custom button with our signature blue/cyan */
.btn-cyan {
  color: #ffffff;
  background-color: #00aeef;
  border-color: #0091c8;
}
.btn-cyan:hover,
.btn-cyan:focus,
.btn-cyan:active,
.btn-cyan.active,
.open .dropdown-toggle.btn-cyan {
  color: #ffffff;
  background-color: #0091c8;
  border-color: #0083b4;
}
.btn-cyan:active,
.btn-cyan.active,
.open .dropdown-toggle.btn-cyan {
  background-image: none;
}
.btn-cyan.disabled,
.btn-cyan[disabled],
fieldset[disabled] .btn-cyan,
.btn-cyan.disabled:hover,
.btn-cyan[disabled]:hover,
fieldset[disabled] .btn-cyan:hover,
.btn-cyan.disabled:focus,
.btn-cyan[disabled]:focus,
fieldset[disabled] .btn-cyan:focus,
.btn-cyan.disabled:active,
.btn-cyan[disabled]:active,
fieldset[disabled] .btn-cyan:active,
.btn-cyan.disabled.active,
.btn-cyan[disabled].active,
fieldset[disabled] .btn-cyan.active {
  background-color: #00aeef;
  border-color: #0091c8;
}
