<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <div class="bs-social">
      <ul class="bs-social-buttons">
        <li>
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=publicinnovation&amp;repo=openorg&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
        </li>
        <li>
          <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=publicinnovation&amp;repo=openorg&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
        </li>
        <li class="follow-btn">
          <a href="https://twitter.com/p_blic" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">
            Follow @p_blic
          </a>
        </li>
        <li class="tweet-btn">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://open.publicinnovation.org/" data-count="horizontal" data-via="p_blic" data-related="roughani:Founder of Public Innovation">
            Tweet
          </a>
        </li>
      </ul><!-- ./bs-social-buttons -->
    </div><!-- ./bs-social -->

    <p>
      Developed and maintained by
      <a href="http://twitter.com/roughani" target="_blank">
        @roughani
      </a>
      and
      <a href="http://twitter.com/thomchop" target="_blank">
        @thomchop
      </a>
      .
    </p>
    <p>
      <a href="http://publicinnovation.org" target="_blank">
        Public Innovation
      </a>| co-creating a new civic experience
    </p>
  </div>
</footer>
