<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav nav-brand">
        <li class="dropdown">
          <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-list-alt"></span> &nbsp; 
            Chapters 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
          {% for p in site.pages %}
            {% if p.layout == "chapter" %}
            <li {% if page.url == p.url %}class="active"{% endif %}>
              <a href="{{ p.url }}">
                {{ p.title }}
              </a>
            </li>
            {% endif %}
          {% endfor %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-header -->
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://publicinnovation.org">
            <img src="/images/public-innovation_icon-logo-white.png" height="24">
          </a>
        </li>
      </ul>
    </nav>
  </div><!-- /.container -->
</header>
