<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav nav-brand">
        <li class="dropdown"> 
          <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-list-alt"></span> &nbsp; 
            Chapters 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li {% if page.url == "/chapters/forward/" %}class="active"{% endif %}>
              <a href="/chapters/forward">
                Forward
              </a>
            </li>
            <li {% if page.url == "/chapters/executive-summary/" %}class="active"{% endif %}>
              <a href="/chapters/executive-summary">
                1. Executive Summary
              </a>
            </li>
            <li {% if page.url == "/chapters/need-and-opportunity/" %}class="active"{% endif %}>
              <a href="/chapters/need-and-opportunity">
                2. Need and Opportunity
              </a>
            </li>
            <li {% if page.url == "/chapters/social-impact-model/" %}class="active"{% endif %}>
              <a href="/chapters/social-impact-model">
                3. Social Impact Model
              </a>
            </li>
            <li {% if page.url == "/chapters/business-model/" %}class="active"{% endif %}>
              <a href="/chapters/business-model">
                4. Business Model
              </a>
            </li>
            <li {% if page.url == "/chapters/implementation-strategy/" %}class="active"{% endif %}>
              <a href="/chapters/implementation-strategy">
                5. Implementation Strategy
              </a>
            </li>
            <li {% if page.url == "/chapters/phase-one-action-plan/" %}class="active"{% endif %}>
              <a href="/chapters/phase-one-action-plan">
                6. Phase One Action Plan
              </a>
            </li>
            <li {% if page.url == "/chapters/appendices/" %}class="active"{% endif %}>
              <a href="/chapters/appendices">
                7. Appendix
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <h3 class="navbar-text navbar-right">OpenOrg by Public Innovation</h3>
    </div><!-- /.navbar-header -->
  </div><!-- /.container -->
</header>
